<!DOCTYPE html>
<html class="full-height" lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fletz - Logistica a la orden del ciudadano</title>
    <meta name="description" content="Material design landing page template built by TemplateFlip.com"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{_index/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{_index/css/mdb.min.css}" rel="stylesheet">
    <link th:href="@{_index/styles/main.css}" rel="stylesheet">
  </head>
  <body id="top">
    <header>
      <!-- Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" id="navbar">
        <div class="container"><a class="navbar-brand" href="#"><strong>Fletz</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link active" href="#about">Nosotros</a></li>
              <li class="nav-item"><a class="nav-link" href="#projects">Proyectos</a></li>
              <li class="nav-item"><a class="nav-link" href="#pricing">Precios</a></li>
              <li class="nav-item"><a class="nav-link" href="#team">Equipo</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
            </ul><a class="btn btn-primary btn-rounded my-0" href="https://templateflip.com/templates/material-landing" target="_blank">Comenzar</a>
          </div>
        </div>
      </nav>
      <!-- Intro Section-->
      <section class="view hm-gradient" id="intro">
        <div class="full-bg-img d-flex align-items-center">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-md-10 col-lg-6 text-center text-md-left margins">
                <div class="white-text">
                  <div class="wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-bold mt-sm-5">Tus mudanzas, nuestra misión</h1>
                    <div class="h6">
                      Te ayudamos con cada movimiento logísitico, sea de manera local o interprovincial.
                      Contamos con una flota de colaboradores profesionales en el sector de traslado
                      de paquetes, sistemas postales y mudanzas de pequeña a gran escala.
                    </div>
                  </div><br>
                  <div class="wow fadeInLeft" data-wow-delay="0.3s"><a class="btn btn-white dark-grey-text font-bold ml-0" href="https://www.youtube.com/watch?v=60ItHLz5WEA" target="_blank"><i class="fa fa-play mr-1"></i>Comenzar</a><a class="btn btn-outline-white" href="#">Cómo trabajamos</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <div id="content">
<section class="row no-gutters" id="features">
  <div class="col-lg-3 col-md-6 col-sm-12 deep-purple lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".1s"><i class="fa fa-line-chart fa-2x"></i>
      <div class="h5 mt-3">Estadisticas</div>
      <p class="mt-5">Conoce rapidamente, a traves de nuestros dashboards, toda tu información</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 purple lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".3s"><i class="fa fa-industry fa-2x"></i>
      <div class="h5 mt-3">Estratégia Corporativa</div>
      <p class="mt-5">Somos una Startup con la versatilidad y el cambio inherente en nuestro espíritu</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 teal lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".5s"><i class="fa fa-users fa-2x"></i>
      <div class="h5 mt-3">Diversidad</div>
      <p class="mt-5">Organicamente aglutinamos personas de distintas disciplinas, velando por ellos en cada tarea</p>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 light-blue lighten-1 text-white">
    <div class="p-5 text-center wow zoomIn" data-wow-delay=".7s"><i class="fa fa-bullhorn fa-2x"></i>
      <div class="h5 mt-3">Tareas tácticas</div>
      <p class="mt-5">Monitoreamos en tiempo real todas las operaciones, sin dejar solo a ninguna parte de la logística</p>
    </div>
  </div>
</section>
<section class="text-center py-5 grey lighten-4" id="about">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3">Por qué contratarnos?</h2>
      <p class="px-5 mb-5 pb-3 lead blue-grey-text">
        Poseemos una red de servicios amplia, conocimientos técnicos adaptados a las necesidades de la
        Argentina del siglo XXI. Enfocamos productos de las mejores empresas del sector al servicio
        de los ciudadanos.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".3s"><i class="fa fa-dashboard fa-3x orange-text"></i>
        <h3 class="h4 mt-3">Diseño</h3>
        <p class="mt-3 blue-grey-text">
            Flex es nuestro producto pensado para atender un abanico de tus necesidades
            de transpor te y logística
        </p>
      </div>
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-comments-o fa-3x cyan-text"></i>
        <h3 class="h4 mt-3">Respaldo</h3>
        <p class="mt-3 blue-grey-text">
          El proceso comienza con una persona de Fletz a tu lado, siempre 
          contaras con nuestro apoyo hasta la entrega de la carga completa.
        </p>
      </div>
      <div class="col-md-4 mb-r wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-cubes fa-3x red-text"></i>
        <h3 class="h4 mt-3">Disciplina</h3>
        <p class="mt-3 blue-grey-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
          hic.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="py-5" id="projects">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="text-center h1 my-4">Nuestros mejores proyectos</h2>
      <p class="px-5 mb-5 pb-3 lead blue-grey-text text-center">
        Gracias a la confianza de miles de usuarios, ganada a traves de cada uno de los trabajos individuales de nuestros
        colaboradores, hemos logrado realizar distintos proyectos para Pymes y multinacionales.
      </p>
    </div>
    <div class="row wow fadeInLeft" data-wow-delay=".3s">
      <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5"><img class="img-fluid rounded z-depth-2" th:src="@{_index/img/mudanzas.jpg}" alt="project image"/></div>
      <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4">
        <div class="row mb-3">
          <div class="col-1 mr-1"><i class="fa fa-book fa-2x cyan-text"></i></div>
          <div class="col-10">
            <h5 class="font-bold">Educación</h5>
            <p class="grey-text">
              Trasladamos distintos laboratorios desde Buenos Aires a Universidades como: UTN, UCES, UCPL, UCASAL, entre muchas
              otras. Seguimos agradecidos por contar con el apoyo de familias académicas.
            </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-1 mr-1"><i class="fa fa-code fa-2x red-text"></i></div>
          <div class="col-10">
            <h5 class="font-bold">Tecnología</h5>
            <p class="grey-text">
              Actualmente las empresas del rubro tecnológico confia en nosotros para el envío, preparación y traslado
              de equipos de punta a sus oficinas ubicadas en Resistencia, Villa Angela y Saenz Peña.
              Apoyamos, por ser una empresa tecnológica, todas las iniciativas de empresas del sector, sin
              importar su tamaño.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-1 mr-1"><i class="fa fa-money fa-2x deep-purple-text"></i></div>
          <div class="col-10">
            <h5 class="font-bold">Finanzas</h5>
            <p class="grey-text">
              Tenemos convenios firmes con empresas de recaudación de caudales, ofreciendo nuestra logística
              en el aprovisionamiento, traslado, equipamiento y asesoría técnica gracias a una amplia
              experiencia.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row pt-5 wow fadeInRight" data-wow-delay=".3s">
      <div class="col-lg-6 col-xl-7 mb-3">
        <div class="row mb-3">
          <div class="col-1 mr-1"><i class="fa fa-bar-chart fa-2x indigo-text"></i></div>
          <div class="col-10">
            <h5 class="font-bold">Marketing</h5>
            <p class="grey-text">
              Canaliza tus servicios con nuestros sistemas de adwords, imágenes optimizadas y baners dinámicos
            </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-1 mr-1"><i class="fa fa-music fa-2x pink-text"></i></div>
          <div class="col-10">
            <h5 class="font-bold">Dinamismo</h5>
            <p class="grey-text">
              Orquesta tu visión de negocios con nuestras herramientas de ventas.
            </p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-1 mr-1"><i class="fa fa-smile-o fa-2x blue-text"></i></div>
          <div class="col-10">
            <h5 class="font-bold">Comunicación</h5>
            <p class="grey-text">
              Conectate rapidamente a nuestro sistema de mensajeria centralizado.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-5 mb-3"><img class="img-fluid rounded z-depth-2" th:src="@{_index/img/mudanza1.jpg}" alt="project image"/></div>
    </div>
  </div>
</section>
<section class="text-center py-5 indigo darken-1 text-white" id="pricing">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3">Nuestros planes</h2>
      <p class="px-5 mb-5 pb-3 lead">
        Selecciona alguna de las propuestas que tenemos para vos. Disponibilizá tu trabajo de logística indicando tus servicios
        a la comunidad.
      </p>
    </div>
    <div class="row wow zoomIn">
      <div class="col-lg-4 col-md-12 mb-r">
        <div class="card card-image">
          <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3 rounded">
            <div class="card-body">
              <div class="h5">Individual</div>
              <div class="py-5"><sup class="display-4">$AR</sup><span class="display-1">9</span><span class="display-4">/m</span></div>
              <ul class="list-unstyled">
                <li>
                  <p><strong>1</strong> Persona</p>
                </li>
                <li>
                  <p><strong>100</strong> Mensajes</p>
                </li>
                <li>
                  <p><strong>10</strong> Imágenes</p>
                </li>
                <li>
                  <p><strong>100MB</strong> Almacenamiento</p>
                </li>
              </ul><a class="btn btn-outline-white mt-5"> Contratar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-r">
        <div class="card card-image">
          <div class="text-white text-center pricing-card d-flex align-items-center rgba-teal-strong py-3 px-3 rounded">
            <div class="card-body">
              <div class="h5">Startup</div>
              <div class="py-5"><sup class="display-4">$AR</sup><span class="display-1">29</span><span class="display-4">/m</span></div>
              <ul class="list-unstyled">
                <li>
                  <p><strong>3</strong> Personas</p>
                </li>
                <li>
                  <p><strong>1000</strong> Mensajes</p>
                </li>
                <li>
                  <p><strong>200</strong> Imágenes</p>
                </li>
                <li>
                  <p><strong>500MB</strong> Almacenamiento</p>
                </li>
              </ul><a class="btn btn-outline-white mt-5"> Contratar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-r">
        <div class="card card-image">
          <div class="text-white text-center pricing-card d-flex align-items-center rgba-red-strong py-3 px-3 rounded">
            <div class="card-body">
              <div class="h5">Enterprise</div>
              <div class="py-5"><sup class="display-4">$AR</sup><span class="display-1">99</span><span class="display-4">/m</span></div>
              <ul class="list-unstyled">
                <li>
                  <p><strong>10</strong> Personas</p>
                </li>
                <li>
                  <p><strong>Mensajeria</strong> sin límites</p>
                </li>
                <li>
                  <p><strong>Imágenes</strong> sin límites</p>
                </li>
                <li>
                  <p><strong>1GB</strong> Almacenamiento</p>
                </li>
              </ul><a class="btn btn-outline-white mt-5"> Contratar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-5" id="team">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3 text-center">El equipo</h2>
      <p class="px-5 mb-5 pb-3 lead text-center blue-grey-text">
          Somos un grupo de expertos, ambiciosos, curiosos e innovadores 
          con ganas de seguir abriendo posibilidades a las personas,
          exportando nuestro espíritu de lucha en cada trabajo.
      </p>
    </div>
    <div class="row mb-lg-4 center-on-small-only">
      <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
        <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" th:src="@{_index/img/gonzalo.jpg}" alt="team member"/></div>
        <div class="col-md-6 float-right">
          <div class="h4">Gonzalo Mendoza</div>
          <h6 class="font-bold blue-grey-text mb-4">Lider Técnico</h6>
          <p class="grey-text">Desarrollador Java SSr Advance. Revisionista histórico, entusiasta, apasionado de la lectura, disertante y docente</p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@gonzalohumen</span></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
        <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" th:src="@{_index/img/facu.jpg}" alt="team member"/></div>
        <div class="col-md-6 float-right">
          <div class="h4">Facundo Uferer</div>
          <h6 class="font-bold blue-grey-text mb-4">Desarrollador Web</h6>
          <p class="grey-text">Director de diseño. Especialista en marketing. Node, Reack, Angular5, JQuery, Bootstrap, Materialize</p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@facundouferer</span></a>
        </div>
      </div>
    </div>
    <div class="row center-on-small-only">
      <div class="col-lg-6 col-md-12 mb-r wow fadeInLeft" data-wow-delay=".3s">
        <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" th:src="@{_index/img/madia.jpeg}" alt="team member"/></div>
        <div class="col-md-6 float-right">
          <div class="h4">Madia Burgos</div>
          <h6 class="font-bold blue-grey-text mb-4">Delivery Manager</h6>
          <p class="grey-text">Traductora, especialista en relaciones internacionales, reclutadora y vocera especializada</p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@madiaburgos</span></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-r wow fadeInRight" data-wow-delay=".3s">
        <div class="col-md-6 float-left"><img class="img-fluid rounded z-depth-1 mb-3" th:src="@{_index/img/juan.jpeg}" alt="team member"/></div>
        <div class="col-md-6 float-right">
          <div class="h4">Juan Gomez</div>
          <h6 class="font-bold blue-grey-text mb-4">Ingeniero de pruebas manuales</h6>
          <p class="grey-text">Especialista en testeo manual. Docente. Entusiasta.</p><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i><span class="ml-1">@gomezjuan</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact" style="background-image:url('img/panorama-3094696_1920.jpg');">
  <div class="rgba-black-strong py-5">
    <div class="container">
      <div class="wow fadeIn">
        <h2 class="h1 text-white pt-5 pb-3 text-center">Contactanos</h2>
        <p class="text-white px-5 mb-5 pb-3 lead text-center">
            Escribinos tus dudas, consejos, sigerencias o lo que quieras compartir
            con nosotros. Nuestro equipo especialista se contactará con vos
            lo antes posible.
        </p>
      </div>
      <div class="card mb-5 wow fadeInUp" data-wow-delay=".4s">
        <div class="card-body p-5">
          <div class="row">
            <div class="col-md-8">
              <form action="https://formspree.io/youremail@example.com" method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <div class="md-form">
                      <input class="form-control" id="name" type="text" name="name" required="required"/>
                      <label for="name">Tu nombre</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="md-form">
                      <input class="form-control" id="email" type="text" name="_replyto" required="required"/>
                      <label for="email">Tu correo electrónico</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="md-form">
                      <input class="form-control" id="subject" type="text" name="subject" required="required"/>
                      <label for="subject">Motivo</label>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="md-form">
                      <textarea class="md-textarea" id="message" name="message" required="required"></textarea>
                      <label for="message">Tu mensaje</label>
                    </div>
                  </div>
                </div>
                <div class="center-on-small-only mb-4">
                  <button class="btn btn-indigo ml-0" type="submit"><i class="fa fa-paper-plane-o mr-2"></i> Enviar</button>
                </div>
              </form>
            </div>
            <div class="col-md-4">
              <ul class="list-unstyled text-center">
                <li class="mt-4"><i class="fa fa-map-marker indigo-text fa-2x"></i>
                  <p class="mt-2">Arturo Illia 687, Resistencia, Chaco, Argentina</p>
                </li>
                <li class="mt-4"><i class="fa fa-phone indigo-text fa-2x"></i>
                  <p class="mt-2">+54 0379 426 7413</p>
                </li>
                <li class="mt-4"><i class="fa fa-envelope indigo-text fa-2x"></i>
                  <p class="mt-2">contact@fletz.corp</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section></div>
    <footer class="page-footer indigo darken-2 center-on-small-only pt-0 mt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mb-5 flex-center"><a class="px-3"><i class="fa fa-facebook fa-lg white-text"></i></a><a class="px-3"><i class="fa fa-twitter fa-lg white-text"></i></a><a class="px-3"><i class="fa fa-google-plus fa-lg white-text"></i></a><a class="px-3"><i class="fa fa-linkedin fa-lg white-text"></i></a></div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container-fluid">
          <p>&copy; <a href="/">Fletz Company</a> - Developers: <a href="https://templateflip.com/" target="_blank">Team</a></p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" th:src="@{_index/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{_index/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{_index/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{_index/js/mdb.min.js}"></script>
    <script>new WOW().init();</script>
    <script>
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        }
      }

      function showPosition(position) {
        $.ajax({
           type: "POST",
           url: "/r/p/" + position.coords.latitude + "/" + position.coords.longitude
       });
      }

      getLocation();
    </script>
  </body>
</html>